/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-cyan: hsl(158, 35%, 28%);
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-montserrat: "Montserrat", system-ui;
    --font-fraunces: "Fraunces", serif;
}

body {
    background: var(--Cream);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-montserrat);
}

.container {
    width: 600px;
    height: 450px;
    display: flex;
    background: var(--White);
    border-radius: 10px;
    overflow: hidden;
}

.container .image {
    background: url(/images/image-product-desktop.jpg);
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container .content {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.container .content .name {
    font-family: var(--font-montserrat);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--Dark-grayish-blue);
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.container .content h1 {
    font-family: var(--font-fraunces);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--Very-dark-blue);
    margin-bottom: 25px;
    line-height: 1;
}

.container .content p {
    font-size: .9rem;
    font-family: var(--font-montserrat);
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 25px;
}

.container .content .price {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.container .content .price .new-price {
    font-family: var(--font-fraunces);
    color: var(--Dark-cyan);
    font-size: 2.2rem;
    font-weight: 700;
}

.container .content .price .old-price {
    color: var(--Dark-grayish-blue);
    font-family: var(--font-montserrat);
    text-decoration: line-through;
}

.container .content button {
    font-family: var(--font-montserrat);
    font-weight: 700;
    background: var(--Dark-cyan);
    color: var(--White);
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.container .content button:hover {
    background: var(--Very-Dark-cyan);
}

/* Media Query for Phones */
@media (max-width: 550px) {
    body{
        padding: 0 10px;
    }
    .container {
        flex-direction: column;
        width: 100%; /* Adjusted for full-width layout */
        height: auto;
    }

    .container .image {
        width: 100%; /* Full-width image on mobile */
        height: 250px; /* Adjust image height for phones */
        background: url(/images/image-product-mobile.jpg);
        background-size: cover;
        background-position: center;
    }

    .container .content {
        width: 100%;
    }

    .container .content h1 {
        font-size: 2rem; 
    }

    .container .content p {
        font-size: .8rem; 
    }

    .container .content .price .new-price {
        font-size: 1.8rem;
    }

    .container .content .price {
        gap: 20px; 
    }

    .container .content button {
        padding: 15px 0;
    }
}
